
<link rel="stylesheet" href="/static/styles/auth.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<form action="#" method="POST">

    <script>
        const passw = [];

        "{% for x in x%}"
        passw.push("{{ pass }}")
        "{% endfor %}"

        var pass = "{{ pass }}";

        h4.innerHTML = foulwords
    </script>

    <button type="button" data-bs-toggle="modal" data-bs-target="#myModalreqs">
      <div class="title">
          <h4></h4>
      </div>
      <div class="bar"></div>
    </button>
  
    <div id="myModalreqs">
      <div class="modal-dialog">
        <div class="modal-content">
  
<div class="modal-body">
    Request Change Password

    <div class="form-group">
        <h2> To recover password please contact the web owner or developer to get secret key and input int the textbox below:</h2>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
        <input class="form-control" name="secretKey" type="password" placeholder="4-digit Secret Key">
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Save</button>
    <br> <br>
    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
  </div>

</div>
</div>
</div>
</div>
</form>