<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/tweet.css') }}">
    <link href='https://css.gg/twitter.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> --> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">


    
</head>
<style>

.separator {
    border-right: 1px solid #dfdfe0; 
}
.icon-btn-save {
    padding-top: 0;
    padding-bottom: 0;
}
.input-group {
    margin-bottom:10px; 
}
.btn-save-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}

</style>
<body onload="readTweet()">

  <div class="header">
    <br>
    <div class="logo">
      <button onclick=" window.open('https://twitter.com/detector_cyber','_blank')">
      CyberDetector</button>
    </div>
    <div id="MyClockDisplay" class="clock" onload="showTime()"></div>
    <div class="main">
      <!--<button type="button" data-bs-toggle="modal" data-bs-target="#myModallogs"> -->
        <button type="button" onclick="openLogs()">
        <div class="title">LOGS &nbsp;</div>
        <div class="bar"></div>
      </button>
      <button type="button" data-bs-toggle="modal" data-bs-target="#myModalreqs">
        <div class="title">REQUEST &nbsp;</div>
        <div class="bar"></div>
      </button>
      <button type="button" onclick="logout()">
        <div class="title">LOGOUT &nbsp;</div>
        <div class="bar"></div>
      </button>
    </div> 
  </div>

  <script>
    function showTime(){
      var date = new Date();
      var h = date.getHours(); // 0 - 23
      var m = date.getMinutes(); // 0 - 59
      var s = date.getSeconds(); // 0 - 59
      var session = "AM";
      var dd = String(date.getDate()).padStart(2, '0');
      var mm = String(date.getMonth() + 1).padStart(2, '0'); //January is 0!
      var yyyy = date.getFullYear();
  
      
      
      if(h == 0){
          h = 12;
      }
      
      if(h > 12){
          h = h - 12;
          session = "PM";
      }
      
      h = (h < 10) ? "0" + h : h;
      m = (m < 10) ? "0" + m : m;
      s = (s < 10) ? "0" + s : s;
      
      var time = h + ":" + m + ":" + s + " " + session;
      date = mm + '/' + dd + '/' + yyyy;
      //var today = dayOfWeek + " " + dayOfMonth + " of " + curMonth + ", " + curYear;
      document.getElementById("MyClockDisplay").innerText = time + "\n" + date;
      document.getElementById("MyClockDisplay").textContent = time + "\n" + date;
      setTimeout(showTime, 1000); 
  }showTime();
  </script>

  <script>
    function openLogs() {
      window.location.assign("/ourLogs");
    }
    function openKeywords() {
      var myWindow = window.open("http://127.0.0.1:5000/viewWords", "", "titlebar=no,location=no,width=820,height=400");
    }
    function logout(){
      window.location.assign("/logout");
    }
    </script>

  <!-- The Modal -->
<div class="modal" id="myModallogs">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Activity Logs</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container-fluid">
          <main class="row">
              <div class="col">
                <h1></h1>
                <div id="table-container"></div>
              </div>
          </main>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery.csv.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <script src="js/csv_to_html_table.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script>
  
          CsvToHtmlTable.init({
              csv_path: "//datafile.csv",
              element: "table-container",
              allow_download: true,
              csv_options: {
                  separator: ",",
                  delimiter: '"'
              },
              datatables_options: {
                  paging: false
              },
              custom_formatting: [
                  [4]
              ]
          });
      </script>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<form action="#" method="POST">
  <!-- The Modal -->
  <div class="modal" id="myModalreqs">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Change Password</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Request Change Password
        
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
              <input class="form-control" name="old_pass" type="password" placeholder="Current Password">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
              <input class="form-control" name="new_pass" type="password" placeholder="New Password">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
              <input class="form-control" name = "confirm_pass" type="password" placeholder="Retype New Password">
            </div>
          </div>
        
        
        </div>


        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Save</button>
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for msg in messages %}
                    <script>
                      alert("{{msg}}");
                    </script>
                {% endfor %}
              {% endif %}
            {% endwith %}
  <h2>TWEETS REPORT</h2>
  <script>
      function refresh() {
            window.location.assign(
                "/refresh");
        }

    </script>
  <div class="btnref">  
    <button name="refresh" class="btnref" style="background:white; cursor:pointer;" onclick="refresh()">refresh</button> 
  </div>
  <div class="row">
    <div class="table, columnmain, tablemain">


      <label for="date" style="color:white; font-weight: bold;">Date:</label>
      <input type="date" id="tweetDate" name="date" onChange="dateChange()">
      


      <table class="fl-tablemain" id ="table1">
        <thead>
          <tr>
            <th class="col-1">TIME&DATE</th>
            <th class="col-2">USERNAME</th>
            <th class="col-3">TWEETS</th>
            <th class="col-4">VISIT</th>
            <th class="col-5">WARN</th>
            <th class="col-5">RPT</th>
            <th class="col-5">X</th>
          </tr>
        </thead>
        <tbody id="tweetStream">
                <tr>

                </tr>
        </tbody>
      </table>
    </div>
  
<br>
<br>
<!-- <form class="s-design-widht" method="POST" action="/tweet">
  <div class="cardd">  
    
  </div>
</form>

<div class="l-design-widht">
  <div class="cardd">  
    <div class="card">
      <h2><svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-coffee" href="#icon-coffee" /></svg>Tweet</h2>
      <label class="input">
        <textarea class="input__field" rows="10" cols="30" style="color:white;" name="tweet" id="tweetText"></textarea>
        <span class="input__label">tweet something...</span>
      </label>
      <div class="button-group">
        <button type="submit" class = "sendTweet">Send</button>
        <button type="reset">Reset</button>
      </div>
    </div>
  </div>
</div>

  <br><br>
  <article class="l-design-widht">
  <div class="cardd">
  <div class="card">
    
    <table class="fl-tablesub" id="table2">
      <thead>
 <th colspan="5" style="text-align:center">FOUL WORDS</th>
      </thead>
      <tbody>
      <script>
        const keywords = [];

        "{% for x in range(3) %}"
        keywords.push("{{ foulwords }}")
        "{% endfor %}"

        var foulwords = "{{ foulwords }}";     
    
        var tr = document.createElement('tr');
        
        var td = document.createElement('td');
        td.setAttribute("id","foulwordsz");
        td.innerHTML = foulwords.replace("[{' ","").replace("'}, {'-hahahaha, -haha, -emoji, -RT'}]","");
        
        tr.appendChild(td);
        document.getElementById("table2").appendChild(tr);
        var x = document.getElementById('foulwordsz').innerHTML.replace("[{","").replace("}]","").replace("[","").replace("]","").replace("}, {'-hahahaha, -haha, -emoji, -RT'","");
        document.getElementById('foulwordsz').innerHTML = x;

      </script>
      </tbody>
    </table><br>
    <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal" >Add Keyword</button><br>
    <button type="button" class="btn btn-warning" onclick="openKeywords()">Edit Keyword</button>
<br>
</div>
</div></div>
</article> -->


  
<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-coffee" viewBox="0 0 20 20" style="visibility: hidden ;">
    <title>icon-coffee</title>
    <path fill="currentColor" d="M15,17H14V9h3a3,3,0,0,1,3,3h0A5,5,0,0,1,15,17Zm1-6v3.83A3,3,0,0,0,18,12a1,1,0,0,0-1-1Z" />
    <rect fill="currentColor" x="1" y="7" width="15" height="12" rx="3" ry="3"/>
    <path fill="var(--color-accent)" d="M7.07,5.42a5.45,5.45,0,0,1,0-4.85,1,1,0,0,1,1.79.89,3.44,3.44,0,0,0,0,3.06,1,1,0,0,1-1.79.89Z"/>
    <path fill="var(--color-accent)" d="M3.07,5.42a5.45,5.45,0,0,1,0-4.85,1,1,0,0,1,1.79.89,3.44,3.44,0,0,0,0,3.06,1,1,0,1,1-1.79.89Z"/>
    <path fill="var(--color-accent)" d="M11.07,5.42a5.45,5.45,0,0,1,0-4.85,1,1,0,0,1,1.79.89,3.44,3.44,0,0,0,0,3.06,1,1,0,1,1-1.79.89Z"/>
  </symbol>
</svg>







<script>
  function sample(o) {
     //no clue what to put here?
     var p=o.parentNode.parentNode;
         p.parentNode.removeChild(p);
    }
</script>



<script>
  function dateChange(){
    var x = document.getElementById("tweetDate").value;
    readTweet();
    
  }
    $(document).ready( function() {
      var now = new Date();
      var month = (now.getMonth() + 1);               
      var day = now.getDate();
      if (month < 10) 
          month = "0" + month;
      if (day < 10) 
          day = "0" + day;
      var today = now.getFullYear() + '-' + month + '-' + day;
      $('#tweetDate').val(today);
  });
</script>




<script type="text/javascript">
var csrftoken = $('meta[name=csrf-token]').attr('content')




  $(document).ready(function(){
        $('button.sendTweet').on('click',function(){
            var text = document.getElementById("tweetText").value;
            $.ajax({

                data:{
                    tweetTxt:text
                },
                type: 'POST',
                url: '/tweet'  

            })
            .done(function(data){
              alert("Tweet Successfully sent");
              document.getElementById("tweetText").value = "";
            });


        });


        

    });
    function startReading(){

      $.ajax({
              
              type: 'POST',
              url: '/newTweet'

              }).done(function(data){  
                document.getElementById("checking").innerHTML = "0";
                readTweet();

                });
               
              
    };
</script>

<h3 id="checking" style="color: white; visibility: hidden;" >0</h3>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  // $(function(){
  //     window.setInterval(function(){
  //         readTweet();
  //     },2000)

  function readTweet(){
          var date = document.getElementById("tweetDate").value;
          $.ajax({
              data:{date:date},
              type: 'POST',
              url: '/readTweet'  
              }).done(function(data){  
                length = data.tweet.length


                // CLEARING TABLE
                var tableHeaderRowCount = 1;
                var table = document.getElementById('table1');
                var rowCount = table.rows.length;
                for (var i = tableHeaderRowCount; i < rowCount; i++) {
                    table.deleteRow(tableHeaderRowCount);
                }


                for(let x = 0; x < length; x++){

                  // ASSIGNING DATA
                  var user = data.id[x];
                  var tweet1 = data.tweet[x].replace("[","").replace("'","").replace("'","").replace("]","");
                  var date = data.date[x];
                  var links = data.link[x];


                  // CREATING TD
                  var td1 = document.createElement('td');
                  td1.innerHTML = date;
                  td1.setAttribute('class','tweetDate');



                  var td2 = document.createElement('td');
                  td2.innerHTML = "@"+user;
                  td2.setAttribute('class','userID');


                  var td3 = document.createElement('td');
                  td3.innerHTML = tweet1;
                  td3.setAttribute('class','tweetTxt');



                  var td4 = document.createElement('td');
                  var button1 = document.createElement('button');
                  button1.innerHTML = '<i class="fa fa-twitter-square" aria-hidden="true" style="font-size:22px;"></i>'
                  var str = "https://twitter.com/" + user +"/status/" + links;
                  button1.setAttribute("onClick","window.open('"+ str +"')");
                  td4.append(button1);


                  var td5 = document.createElement('td');
                  var button2 = document.createElement('button');
                  button2.setAttribute('id',links);
                  button2.setAttribute('class',"warnBtn");
                  button2.innerHTML = '<i class="fa fa-inbox" aria-hidden="true" style="font-size:22px;"></i>';
                  td5.append(button2);

                  var td6 = document.createElement('td');
                  var button3 = document.createElement('button');
                  button3.innerHTML = '<i class="fa fa-warning" aria-hidden="true" style="font-size:22px;"></i>';
                  button3.setAttribute('id',links);
                  button3.setAttribute('class',"repBtn");
                  td6.append(button3);

                  var td7 = document.createElement('td');
                  var button4 = document.createElement('button');
                  button4.innerHTML = '<i class="fa fa-remove" aria-hidden="true" style="font-size:22px;"></i>'
                  button4.setAttribute('id',links);
                  button4.setAttribute('class',"delBtn");
                  td7.append(button4);


                  // CREATING TR
                  var tr1 = document.createElement('tr');
                  tr1.appendChild(td1);
                  tr1.appendChild(td2);
                  tr1.appendChild(td3);
                  tr1.appendChild(td4);
                  tr1.appendChild(td5);
                  tr1.appendChild(td6);
                  tr1.appendChild(td7);

                  //APPENDING TO TABLE
                  document.getElementById("table1").appendChild(tr1);

                  

                  
                }

                // var check = document.getElementById("checking").innerHTML;
                // if(check == "0"){
                //   startReading();
                //   document.getElementById("checking").innerHTML = "1";
                // }
                

                
                $('.warnBtn').on('click',function(){
                      var id = $(this).attr('id');
                      var text = $(this).closest('tr').find('.tweetTxt').text();
                      var user = $(this).closest('tr').find('.userID').text();
                      var date = $(this).closest('tr').find('.tweetDate').text();
                      
                      
                      
                      $.ajax({
                          data:{
                              tweetTxt:text,
                              userID:user,
                              tweetDate: date,
                              tweetID : id
                          },
                          type: 'POST',
                          url: '/warning'  

                          })
                          .done(function(data){
                            if(data.status == "success"){
                              document.getElementById("warnTxt").innerHTML = "Warning Sent to user.";
                              $("#warnModal").modal('show');
                              readTweet();
                              $(this).closest('tr').fadeOut(1000);
                              
                            }
                            else{
                              
                              document.getElementById("warnTxt").innerHTML = "The tweet is not available anymore."
                              $("#warnModal").modal('show');
                            }
                          
                        });
                      



                  });

                  $('.repBtn').on('click',function(){
                      var id = $(this).attr('id');
                      var text = $(this).closest('tr').find('.tweetTxt').text();
                      var user = $(this).closest('tr').find('.userID').text();
                      var date = $(this).closest('tr').find('.tweetDate').text();
                     
                      
                      
                      $.ajax({
                          data:{
                              tweetTxt:text,
                              userID:user,
                              tweetDate: date,
                              tweetID : id
                          },
                          type: 'POST',
                          url: '/report'  

                          })
                          .done(function(data){
                            if(data.status == "success"){
                              document.getElementById("warnTxt").innerHTML = "Successfully reported the user.";
                              $("#warnModal").modal('show');
                              readTweet();
                              $(this).closest('tr').fadeOut(1000);
                              
                            }
                            else{
                              
                              document.getElementById("warnTxt").innerHTML = "The tweet is not available anymore."
                              $("#warnModal").modal('show');
                            }
                          
                        });
                      



                  });

                  $('.delBtn').on('click',function(){
                      var id = $(this).attr('id');
                     
                      
                      
                      $.ajax({
                          data:{
                              tweetID : id
                          },
                          type: 'POST',
                          url: '/deleteTweet'  

                          })
                          .done(function(data){
                            
                              document.getElementById("warnTxt").innerHTML = "Tweet Deleted";
                              $("#warnModal").modal('show');
                              readTweet();
                              $(this).closest('tr').fadeOut(1000);
                              
                          
                          
                        });
                      



                  });




              });
      }
      
// })
</script>
  

<script>
  function sample(o) {
     //no clue what to put here?
     var p=o.parentNode.parentNode;
         p.parentNode.removeChild(p);
    }
</script>







<div id="random_decimal" style="display: none;">
  <button onclick='readTweet()'>Read</button>
  <p id="user">asd</p>
  <span id="tweet"></span>
  <span id="date"></span>
  <span id="link"></span>
</div>

<!-- Modal -->
<form action="insertkey" method="POST">

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Keyword</label>
              <div class="col-sm-10">
                <input type="text" name = "keyword" class="form-control" id="inputPassword">
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" name="submit" class="btn btn-primary">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  
  </form>
<script>
     $(document).ready(function () {
        //hide hider and popup_box
        $("#hider").hide();
        $("#popup_box").hide();

        //on click show the hider div and the message
        $("#showpopup").click(function () {
            $("#hider").fadeIn("slow");
            $('#popup_box').fadeIn("slow");
        });
        //on click hide the message and the
        $("#buttonClose").click(function () {

            $("#hider").fadeOut("slow");
            $('#popup_box').fadeOut("slow");
        });

        });
</script>
    


<div class="modal fade" id="warnModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              
              <h4 class="modal-title">..</h4>
          </div>
          <div class="modal-body">
              <p id="warnTxt"></p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal" onclick="$('#warnModal').modal('hide')">Close</button>
          </div>
      </div>
  </div>
</div>

</body>
</html>