<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="/static/styles/auth.css">
</head>
<body>
  <div class="wrapper">
    <div class="logo">
        <img src="/static/CyberDetector (2).png" alt="">
    </div>
    <div class="text-center mt-4 name">
    CYBERDETECTOR
  </div>
  <form action="#" method="POST" class="p-3 mt-3">
    <div class="form-field2 d-flex align-items-center">
          <span class="far fa-user"></span>
          <input type="text" name="userName" id="userName" placeholder="HELLO OPERATOR!" disabled>
    </div>
          <div class="form-field d-flex align-items-center">
          <span class="fas fa-key"></span>
          <input type="password" name="password" id="pwd" placeholder="INPUT PASSWORD">
      </div>
      <button type="submit" class="btn mt-3" id="submit" value="Submit"> Login </button>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </form>

<button type="button" data-bs-toggle="modal" data-bs-target="#myModalreqs">
    <div class="title">forgot password?</div>
    <div class="bar"></div>
  </button>
</div>

</html>